

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

p {
  color: #616161;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #616161;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #616161;
  background-color: #D7D7D7;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #616161;
  background-color: #D7D7D7;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #616161;
  background-color: transparent;
}

.navbar-brand>img {
  display: inline;
}

.navbar-brand {
  font-size: 23px
}

.code {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
}

.logo {
  width:56px;
  height:67px;
  margin-top: -24px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

@media (max-width: 768px) {
  .navbar-brand>img {
    display: none;
  }
}


