/*-------------------------------------------------- 
	css code for the home page only
-------------------------------------------------- */

.jumbotron h1 {
	font-size: 100px
}

h1>.code {
	letter-spacing: -10px;

}

.home-top {
	text-align: center;
	margin-top: 70px;
}